<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  
  <!-- Social icon -->
  <script src="https://kit.fontawesome.com/02bc95fce2.js" crossorigin="anonymous"></script>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">
  
  <!-- Bookstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/FAQ.css">
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- NavBar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html"><i class="fa-sharp fa-solid fa-house fa-2xl"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-4 fw-semibold" aria-current="page" href="../index.html#about">About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active fs-4 fw-semibold" aria-current="page" href="../index.html#testimonial_text">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-4 fw-semibold" aria-current="page" href="./facilities.html">Facilities</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link active fs-4 fw-semibold" aria-current="page" href="./faq.html">FAQ</a>
              </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- NavBar End-->


<!-- Text -->
<div class=" pt-5 mt-5 text-center border-bottom border-5">
    <div class="col-lg-6 mx-auto">
      <p class="lead fw-bold display-5 text-body-emphasis " id="qoutes">ABESIT ~ Hostel</p>
    </div>
  </div>
<!-- Text End -->

<!-- FAQ Section -->
<div class="Faq_container px-5 mt-3 ">

  <div class="mb-2">
    <h1 class="text-center display-1 mb-0 pb-0" id="faq_heading">FAQ</h1>
    <p class="text-center fs-3 mt-0 pt-0">(Frequently Asked Questions)</p>
    <p class="border-top border-5 mt-3"></p>
  </div>
      
      <div class="accordion" id="faq">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>1. What is ABESIT Hostel, and who is it suitable for?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faq">
            <div class="accordion-body">
              ABESIT Hostel is an accommodation facility provided by ABESIT (AbeSecular Institute of Technology) for students and visitors. It is suitable for ABESIT students, outstation students, and guests attending events or workshops at the institute.
            </div>
          </div>
        </div>
      </div>

      <!-- The below code is only for reference to create the other accordion-item using javaScript -->

      <!-- <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div> -->



</div>
<!-- FAQ Section End -->

 



   <!-- Footer -->
  <p class="border-bottom border-5  mt-3"></p>
  <div class="container mt-5 mb-5 ">
    <footer class="text-center text-lg-start  text-muted mt-5">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between ">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="">
          <a href="https://www.facebook.com/" class="me-4 text-reset"><i
              class="fa-brands fa-facebook-f fa-bounce fa-2xl" style="color: rgba(30, 39, 76, 0.821)"></i></a>
          <a href="https://twitter.com" class="me-4 text-reset"><i
              class="fa-brands fa-twitter fa-bounce fa-2xl" style="color: rgba(30, 39, 76, 0.821)"></i></a>
          <a href="https://www.instagram.com/" class="me-4 text-reset"><i
              class="fa-brands fa-instagram fa-bounce fa-2xl" style="color: rgba(30, 39, 76, 0.821)"></i></a>
          <a href="hhttps://www.linkedin.com/in" class="me-4 text-reset"><i
              class="fa-brands fa-linkedin fa-bounce fa-2xl" style="color: rgba(30, 39, 76, 0.821)"></i></a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->


      <!-- Copyright -->
      <div class="text-center mt-5">
        <a  class="text-muted" href="./Devloper.html" target="_blank">© 2023 Copyright:@</a>

      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- Footer end -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"crossorigin="anonymous"></script>
 <script src="../javaScript/scriptFAQ.js"></script> 
</body>

</html>